@media only screen and (max-width: 1445px){
    .header{
        width: 100%;
        height: 300px;
    }

    .fourth{
        margin-left: 20px;
    }
    .third{
        margin-left: 50px;
    }
    

}

